<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Courses</title>
        <link rel="stylesheet" href="/clgweb/public/stylesheets/landing_page.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    </head>
    <body>
        <header>
            <nav>
                <div class="left">
                    <img src="/clgweb/public/images/search.svg" class="">
                    <img src="/clgweb/public/images/bars.svg" alt="">
                </div>
                <div class="rigth">
                    <button  class="signupbtn">Sign up</button>
                    <button class="loginbtn">Log in</button>
                </div>
            </nav>
        </header>
        <main>
            <aside class="sidebar">
                <ul>
                    <li>Research facilities for M.Phil. / Ph.D. in various faculties.</li>
                    <li>Post-Graduate Degree</li>
                    <li>Under-Graduate Degree</li>
                    <li>Diploma Courses</li>
                    <li>Certificate Courses</li>
                    <li>Training Programmes</li>
                    <li>UGC Sponsored Career Oriented Courses</li>
                    <li>Junior College Courses</li>
                    <li>Engineering Degree</li>
                    <li>Law</li>
                    <li>Professional Degree Courses</li>
                    <li>Enrichment and Remedial Programme</li>
                </ul>
            </aside>
            <section class="main-content">
                <div class="hero">
                    <h1>Gokhale Education Society</h1>
                    <p>Find what fascinates you as you explore various courses.</p>
                    <button class="get-started">Enroll for a course</button>
                </div>
                <section class="course">
                    <h1>COURSE WE OFFER</h1>
                    <p>Our University offers various courses for students. We have highly qualified teachers for each course.</p>
                    <div class="row">
                        <div class="career-card">
                            <h3>Intermediate</h3>
                            <p>Intermediate is a two year course. It is the first step of your career. We have highly qualified teachers for each course.</p>
                            <button class="apply-button">Apply</button>
                        </div>
                        <div class="career-card">
                            <h3>Degree</h3>
                            <p>Degree is a three year course. It is the second step of your career. We have highly qualified teachers for each course.</p>
                            <button class="apply-button">Apply</button>
                        </div>
                        <div class="career-card">
                            <h3>Post Graduation</h3>
                            <p>Post Graduation is a two year course. It is the third step of your career. We have highly qualified teachers for each course.</p>
                            <button class="apply-button">Apply</button>
                        </div>
                         
                    </div>
                    <div class="row">
                        <div class="career-card">
                            <h3>Pharmacy</h3>
                            <p>B.Ed.: SPPU – 1-year course; Indira Gandhi Open University, New Delhi ( Distance Mode 2 year course )</p>
                            <button class="apply-button">Apply</button>
                        </div>
                        <div class="career-card">
                            <h3>Law</h3>
                            <p>Masters: Master of Law ( LLM); Master of Labour Laws & Labour Welfare (MLL & LW) Bachelors: LL.B. ( 3 years ); BA.LLB ( 5 years )</p>
                            <button class="apply-button">Apply</button>
                        </div>
                        <div class="career-card">
                            <h3>Engineering</h3>
                            <p>Mechanical Design Engineering, Computer Engineering, Digital System Engineering, Power Electronics & Drives Engineering.</p>
                            <button class="apply-button">Apply</button>
                        </div>
                    </div>
                  </section>
            </section>
        </main>
    </body>
    <footer>
        <div class="footer-section">
            <h3>Gokhale Education Society</h3>
            <p><i class="fas fa-map-marker-alt"></i> Prin. T. A. Kulkarni Vidyanagar,<br> College Road, Nashik, Pin. 422 005.</p>
            <p><i class="fas fa-phone"></i> 0253-2574682</p>
            <p><i class="fas fa-envelope"></i> gokhale_edu@hotmail.com</p>
            <p><i class="fas fa-clock"></i> 10:30 AM - 5:30 PM</p>
        </div>
        <div class="footer-section">
            <h3>Latest News</h3>
            <ul>
                <li><a href="#">Application invited for the post of Assistant Professor</a></li>
                <li><a href="#">Walk-in-Interview for various posts</a></li>
                <li><a href="#">Application invited for various posts @ Nursing Institute in Nashik</a></li>
                <li><a href="#">Walk in Interview for various posts @ CHB Basis</a></li>
                <li><a href="#">Various Posts @ Sir Dr. M.S. Gosavi College of Physiotherapy and Health Care Management</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Quick Links</h3>
            <ul>
                <li><a href="#">Campus Services</a></li>
            </ul>
        </div>
        <div class="footer-section">
            <h3>Online Payment</h3>
            <ul>
                <li><a href="#">Payments, Refunds & Cancellation</a></li>
                <li><a href="#">Privacy Policy</a></li>
                <li><a href="#">Terms & Conditions</a></li>
                <li><a href="#">Fees Chart</a></li>
            </ul>
        </div>
    </footer>
</html>